In [27]:
import pandas as pd
import numpy as np

df = pd.read_csv("students.csv")
df = df[df["Degree"] == "BS"]
df  = df[["Fall", "College", "Major Name", "Total"]]
df = df[df["Major Name"] != float('nan')]

# split into something
startYear = df[df["Fall"] == 2004]
endYear = df[df["Fall"] == 2018]

startYear.groupby()

       Fall                  College                       Major Name Total
221    2004              Engineering         Aero & Astro Engineering   361
578    2004                     ACES   Agr & Environmental Cmc & Educ    60
579    2004                     ACES   Agr & Environmental Cmc & Educ     8
580    2004                     ACES   Agr & Environmental Cmc & Educ     8
581    2004                     ACES   Agr & Environmental Cmc & Educ    36
618    2004                     ACES  Agribusiness, Farm & Financial     76
619    2004                     ACES  Agribusiness, Farm & Financial     67
620    2004                     ACES  Agribusiness, Farm & Financial     45
621    2004                     ACES  Agribusiness, Farm & Financial     98
988    2004              Engineering         Agricultural Engineering    56
1283   2004                     ACES                  Animal Sciences     1
1284   2004                     ACES                  Animal Sciences    23
1285   2004                     ACES                  Animal Sciences   104
1286   2004                     ACES                  Animal Sciences    22
1287   2004                     ACES                  Animal Sciences   351
1393   2004    Fine and Applied Arts            Architectural Studies   547
2732   2004                 Aviation           Aviation Human Factors   189
2809   2004                      LAS                     Biochemistry   178
2899   2004              Engineering                   Bioengineering    22
3457   2004                 Business          Business Administration   403
3458   2004                 Business          Business Administration    91
3459   2004                 Business          Business Administration     4
3460   2004                 Business          Business Administration    43
3461   2004                 Business          Business Administration    29
3462   2004                 Business          Business Administration   113
3463   2004                 Business          Business Administration    82
3464   2004                 Business          Business Administration     1
3744   2004                      LAS             Chemical Engineering   304
3883   2004                      LAS                        Chemistry   125
3941   2004              Engineering                Civil Engineering   450
...     ...                      ...                              ...   ...
10583  2004                     ACES   Intl, Resource, Consumer Econ    101
10584  2004                     ACES   Intl, Resource, Consumer Econ      8
10585  2004                     ACES   Intl, Resource, Consumer Econ      3
10586  2004                     ACES   Intl, Resource, Consumer Econ     64
10884  2004  Applied Health Sciences                      Kinesiology   474
10885  2004  Applied Health Sciences                      Kinesiology    33
10886  2004  Applied Health Sciences                      Kinesiology    36
11313  2004  Applied Health Sciences                  Leisure Studies   155
11314  2004  Applied Health Sciences                  Leisure Studies    21
11315  2004  Applied Health Sciences                  Leisure Studies    31
11316  2004  Applied Health Sciences                  Leisure Studies     2
11317  2004  Applied Health Sciences                  Leisure Studies   142
11795  2004              Engineering         Materials Science & Engr   225
12242  2004              Engineering           Mechanical Engineering   777
12283  2004                    Media                    Media Studies   101
13318  2004                     ACES     Natural Resrcs & Environ Sci    28
13319  2004                     ACES     Natural Resrcs & Environ Sci    17
13320  2004                     ACES     Natural Resrcs & Environ Sci     6
13321  2004                     ACES     Natural Resrcs & Environ Sci    63
13322  2004                     ACES     Natural Resrcs & Environ Sci    14
13323  2004                     ACES     Natural Resrcs & Environ Sci    29
13324  2004                     ACES     Natural Resrcs & Environ Sci    34
13325  2004                     ACES     Natural Resrcs & Environ Sci     9
13326  2004                     ACES     Natural Resrcs & Environ Sci     1
13753  2004              Engineering              Nuclear Engineering    98
14177  2004                      LAS                          Physics    84
15789  2004                Education                Special Education    71
15885  2004  Applied Health Sciences         Speech & Hearing Science   224
16946  2004              Social Work                              NaN     8
16947  2004              Social Work                              NaN    61

[129 rows x 4 columns]

In [3]:
df.to_csv("relevant_values.csv")