In [127]:
import pandas as pd
import numpy as np

df = pd.read_csv("students.csv")
df = df[df["Degree"] == "BS"]
df  = df[["Fall", "College", "Major Name", "Total"]]
df.sort_values(by="Fall", inplace = True)
df = df[df["Major Name"] != float('nan')]
df

       Fall                  College                       Major Name Total
7226   2004                Education             Elementary Education     6
4470   2004              Engineering                 Computer Science   710
4471   2004              Engineering                 Computer Science    10
4501   2004                     ACES   Consumer and Textile Marketing    98
4502   2004                     ACES   Consumer and Textile Marketing     1
4788   2004                     ACES                    Crop Sciences     2
4789   2004                     ACES                    Crop Sciences    17
4790   2004                     ACES                    Crop Sciences    27
4791   2004                     ACES                    Crop Sciences    34
4792   2004                     ACES                    Crop Sciences     4
5258   2004                Education        Early Childhood Education     2
5259   2004                Education        Early Childhood Education     1
5260   2004                Education        Early Childhood Education     1
5261   2004                Education        Early Childhood Education     3
4328   2004              Engineering             Computer Engineering   636
5262   2004                Education        Early Childhood Education    11
5264   2004                Education        Early Childhood Education    12
5265   2004                Education        Early Childhood Education     2
5266   2004                Education        Early Childhood Education    21
5267   2004                Education        Early Childhood Education     2
5268   2004                Education        Early Childhood Education     1
5269   2004                Education        Early Childhood Education     1
5270   2004                Education        Early Childhood Education     8
5516   2004                 Business                        Economics    30
6180   2004                Education                Education General   295
6862   2004              Engineering           Electrical Engineering   868
7221   2004                Education             Elementary Education     1
7222   2004                Education             Elementary Education     2
7223   2004                Education             Elementary Education     3
5263   2004                Education        Early Childhood Education     1
...     ...                      ...                              ...   ...
354    2018                     ACES         Agr & Consumer Economics    35
793    2018                     ACES      Agricultural Communications     1
794    2018                     ACES      Agricultural Communications    27
795    2018                     ACES      Agricultural Communications    10
799    2018                    Media      Agricultural Communications     1
4362   2018              Engineering                 Computer Science    42
4361   2018              Engineering                 Computer Science  1012
357    2018                     ACES         Agr & Consumer Economics    75
356    2018                     ACES         Agr & Consumer Economics    29
355    2018                     ACES         Agr & Consumer Economics     1
11232  2018                Education   Learning and Education Studies    11
11233  2018                Education   Learning and Education Studies     2
11234  2018                Education   Learning and Education Studies    12
11235  2018                Education   Learning and Education Studies    12
13893  2018                 Business            Operations Management     6
6956   2018                Education             Elementary Education   294
13894  2018                 Business            Operations Management     5
11236  2018                Education   Learning and Education Studies    11
9796   2018                     ACES                     Horticulture     1
4314   2018              Engineering             Computer Engineering  1184
14695  2018  Applied Health Sciences  Recreation, Sport, and Tourism     32
14696  2018  Applied Health Sciences  Recreation, Sport, and Tourism     18
14697  2018  Applied Health Sciences  Recreation, Sport, and Tourism     28
14698  2018  Applied Health Sciences  Recreation, Sport, and Tourism    187
12248  2018                    Media         Media and Cinema Studies    12
12247  2018                    Media         Media and Cinema Studies    19
12246  2018                    Media         Media and Cinema Studies    85
1186   2018                     ACES                  Animal Sciences    24
14121  2018                      LAS                          Physics   202
1367   2018    Fine and Applied Arts            Architectural Studies   410

[2215 rows x 4 columns]

In [ ]:
df.to_csv("relevant_values.csv")